$light-gray: #eeeeee;
$dark-gray: #cccccc;

body {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

h1 {
    margin: 0 16px;
    color: $light-gray;
}

header {
    margin: 0;
    background-color: #333333;
    padding: 16px;
}

.day {
    width: 250px;
    min-width: 250px;
    background: $light-gray;
    border: 1px solid $dark-gray;
    border-radius: 8px;
}

.dayHeader {
    padding: 8px 16px;
    border-radius: 6px 6px 0 0;
    background: $dark-gray;
}

.para {
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 4px;

    .paraLine {
        display: flex;
        flex-direction: row;
        height: 18px;
    }

    .paraType {
        width: 36px;
        margin-right: 8px;
    }

    .paraName {
        text-overflow: ellipsis;
        font-weight: 700;
        margin: 0;
        line-height: 18px;
    }

    .paraTime {
        width: 36px;
        margin-right: 8px;
    }

    .teacherClassroomWrapper {
        display: flex;
        flex: 1;
        justify-content: space-between;
    }

    .paraClassroom {
        display: inline;
    }
}

.top-border {
    border-top: 1px solid $dark-gray;
}

.week {
    margin: 16px;
    display: flex;
    gap: 16px;
    flex-direction: row;
    flex-wrap: wrap;
}

.weekStatus {
    display: inline-block;
    margin: 16px 0 16px 16px;
    width: 200px;
    font-size: 21px;
    font-weight: bold;
}

.change-week {
    display: inline-block;
    margin: 14px 16px;
    padding: 8px;
    border-radius: 4px;
    background-color: $light-gray;
    font-size: 16px;
    font-weight: 600;

    &:hover {
        background-color: $dark-gray;
    }

    &:active {
        background-color: $dark-gray;
    }
}

.width-wrapper {
    width: 1626px;
    margin: 0 auto;
}
